// COLORS
$color-green: #78FFD6;
$color-blue-dark: #00001A;
$color-blue: #256EFF;
$color-white: #FFFFFF;
$color-shadow: #00001A25;
$color-red: #FF8080;
// SCREEN SIZES
$screen-xs: 25rem;
$screen-s: 37.5rem;
$screen-m: 50rem;
$screen-l: 62.5rem;
$screen-xl: 75rem;