@use "../1_abstracts/" as *;
.about {
    grid-column: content-start / content-end;
    grid-row: 3 / 4;
    padding: 2.5rem 0;
    &__title {
        margin-bottom: 2.5rem;
    }
    &__container {}
    &__slider {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    &__image {
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        overflow: hidden;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__option {
        // position: absolute;
        background-color: $color-blue-dark;
        width: 90%;
        height: 90%;
        @include flexbox();
        opacity: 0.5;
        &::after {
            content: "";
            position: absolute;
        }
        &--active {
            opacity: 1;
            &.about__option--1 {
                transform: translate(-5%, -5%);
            }
            &.about__option--2 {
                transform: translate(5%, -5%);
            }
            &.about__option--3 {
                transform: translate(-5%, 5%);
            }
            &.about__option--4 {
                transform: translate(5%, 5%);
            }
        }
        &--1 {
            // top: 0;
            // left: 0;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            justify-self: start;
            align-self: start;
            clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
            transform-origin: top left;
        }
        &--2 {
            // top: 0;
            // right: 0;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-self: end;
            align-self: start;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
            transform-origin: top right;
        }
        &--3 {
            // bottom: 0;
            // left: 0;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            justify-self: start;
            align-self: end;
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
            transform-origin: bottom left;
        }
        &--4 {
            // bottom: 0;
            // right: 0;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            justify-self: end;
            align-self: end;
            clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
            transform-origin: bottom right;
        }
    }
    &__icon {
        max-height: 33%;
        max-width: 33%;
        fill: $color-white;
        &--1 {
            transform: translate(-67%, -67%);
        }
        &--2 {
            transform: translate(67%, -67%);
        }
        &--3 {
            transform: translate(-67%, 67%);
        }
        &--4 {
            transform: translate(67%, 67%);
        }
    }
    &__content-box {}
    &__content {
        &--active {}
    }
    &__heading {}
    &__text {}
}