@use "../1_abstracts/" as *;
.logo {
    position: absolute;
    left: 0;
    bottom: -25%;
    height: 100%;
    max-width: 75%;
    opacity: 0.1;
    pointer-events: none;
    z-index: -1;
}

//     display: inline-block;
//     &__image {
//         position: relative;
//         z-index: -1;
//         width: 100%;
//         display: block;
//         object-fit: cover;
//         object-position: center;
//     }
// }