*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font: 400 125%/1 "Montserrat", sans-serif;
    letter-spacing: 0.1em;
}

body {
    box-sizing: border-box;
}