@use "../1_abstracts/" as *;
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat_regular.woff2") format("woff2"), url("./fonts/montserrat_regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat_bold.woff2") format("woff2"), url("./fonts/montserrat_bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Squada One";
    src: url("./fonts/squadaone.woff2") format("woff2"), url("./fonts/squadaone.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

::selection {
    background-color: $color-blue-dark;
    color: $color-white;
}

.heading-1 {
    font: 400 3.25rem/1.25 "Squada One", sans-serif;
    @include responsive($screen-l) {
        font-size: 4.5rem;
    }
}

.heading-2 {
    font: 400 2rem/1.25 "Squada One", sans-serif;
    @include responsive($screen-l) {
        font-size: 3rem;
    }
}

.heading-3 {
    font: 700 1rem/1.5 "Montserrat", sans-serif;
    text-transform: uppercase;
    @include responsive($screen-l) {
        font-size: 1.25rem;
    }
}

.paragraph {
    line-height: 2;
}