.disabled {
  pointer-events: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat_regular.woff2") format("woff2"), url("./fonts/montserrat_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat_bold.woff2") format("woff2"), url("./fonts/montserrat_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Squada One";
  src: url("./fonts/squadaone.woff2") format("woff2"), url("./fonts/squadaone.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font: 400 125%/1 "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: [page-start] 1rem [content-start] repeat(12, [column-start] 1fr [column-end]) [content-end] 1rem [page-end];
  grid-auto-rows: max-content;
}
@media (min-width: 20rem) {
  .container {
    grid-template-columns: [page-start] 1.5 [content-start] repeat(12, [column-start] 1fr [column-end]) [content-end] 1.5 [page-end];
  }
}
@media (min-width: 30rem) {
  .container {
    grid-template-columns: [page-start] 2.5rem [content-start] repeat(12, [column-start] 1fr [column-end]) [content-end] 2.5rem [page-end];
  }
}
@media (min-width: 40rem) {
  .container {
    grid-template-columns: [page-start] 5rem [content-start] repeat(12, [column-start] 1fr [column-end]) [content-end] 5rem [page-end];
  }
}
@media (min-width: 50rem) {
  .container {
    grid-template-columns: [page-start] 10% [content-start] repeat(12, [column-start] 1fr [column-end]) [content-end] 10% [page-end];
  }
}
@media (min-width: 60rem) {
  .container {
    grid-template-columns: [page-start] 12.5% [content-start] repeat(12, [column-start] 1fr [column-end]) [content-end] 12.5% [page-end];
  }
}

.header {
  position: relative;
  z-index: 1;
  grid-column: content-start/content-end;
  grid-row: 1/2;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  display: block;
  height: 4rem;
}
.header__nav {
  position: fixed;
  top: -120vh;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 120vh;
  clip-path: polygon(0% 0%, 50% 8%, 100% 0, 100% 92%, 50% 100%, 0% 92%);
  background-image: linear-gradient(to right bottom, #78FFD6, #256EFF);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__nav--active {
  top: -10vh;
  transition: top 0.75s ease;
}
.header__nav--active .header__link-container {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.25s ease 0.5s, transform 0.25s ease 0.5s;
}
.header__nav--exit {
  top: 120vh;
  transition: top 0.75s ease 0.25s;
}
.header__nav--exit .header__link-container {
  transform: translateY(2rem);
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.header__link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-2rem);
}
.header__link {
  margin: 0.5rem 0;
  color: #FFFFFF;
}
.header__social {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  opacity: 0.75;
  transition: transform 0.25s ease, opacity 0.25s ease;
}
.header__icon:hover {
  transform: scale(1.1);
  opacity: 1;
}
.header__toggle {
  position: relative;
  z-index: 5;
  display: block;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}
.header__toggle--active .header__toggle-bar--1 {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.header__toggle--active .header__toggle-bar--2 {
  top: 50%;
  transform: translateY(-50%) scale(0);
}
.header__toggle--active .header__toggle-bar--3 {
  bottom: 50%;
  transform: translateY(50%) rotate(-135deg);
}
.header__toggle-bar {
  position: absolute;
  left: 0;
  display: block;
  width: 2rem;
  height: 0.1rem;
  background-color: #FFFFFF;
  transition: all 0.25s ease;
}
.header__toggle-bar--1 {
  top: 0;
}
.header__toggle-bar--2 {
  top: 50%;
  transform: translateY(-50%);
}
.header__toggle-bar--3 {
  bottom: 0;
}

.hero {
  grid-column: page-start/page-end;
  grid-row: 1/3;
  display: block;
  height: 95vh;
  background-color: #00001A;
}

.link:link, .link:visited {
  position: relative;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 0.25s ease;
}
.link:link::before, .link:link::after, .link:visited::before, .link:visited::after {
  position: absolute;
  content: "";
  display: block;
  width: 0%;
  height: 0.1rem;
  opacity: 0;
  background-color: currentColor;
  transition: opacity 0.25s ease, width 0.25s ease;
}
.link:link::before, .link:visited::before {
  bottom: 100%;
  right: 0;
}
.link:link::after, .link:visited::after {
  top: 100%;
  left: 0;
}
.link:hover, .link:focus {
  transform: scale(1.1);
}
.link:hover::before, .link:hover::after, .link:focus::before, .link:focus::after {
  width: 100%;
  opacity: 1;
}
.link --icon img {
  display: block;
  height: 100%;
}

/*# sourceMappingURL=style.comp.css.map */
